.highlight {
  font-weight: bold;
  color: red;

}

.Spring {
  color:orange;
}

.Summer {
  color: yellow;
}

.Fall {
  color: brown;
}

.Winter {
  color: white;
}

body {
  background-color: lightgrey;
}

img {
  display: block;
  margin: auto;
  width: 50%;
}
